# Assignment 6
## Oluwanifemi Ajayi - 201652476

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import matplotlib.ticker as mtick
import seaborn as sns

from ipywidgets import interact, interact_manual
import ipywidgets as widgets

In [2]:
df = pd.read_csv("phds_country.csv")

In [3]:
df.head()

,Country,Region,All Fields - Female,All Fields - Male,All S&E - Female,All S&E - Male,Physical & Biological Sciences - Female,Physical & Biological Sciences - Male,Mathematics & Computer Sciences - Female,Mathematics & Computer Sciences - Male,Agricultural Sciences - Female,Agricultural Sciences - Male,Social & Behavioral Sciences - Female,Social & Behavioral Sciences - Male,Engineering - Female,Engineering - Male,Non-S&E - Female,Non-S&E - Male
0,Algeria,Africa,3649,4310,1771,2337,673,458,243,382,89,93,378,575,388,829,1878,1973
1,Argentina (2009),America,515,422,371,291,224,142,29,45,10,8,75,61,33,35,144,131
2,Armenia,Asia,221,393,44,166,25,86,0,0,6,3,7,24,6,53,177,227
3,Australia,Oceania,2911,2914,1362,1769,563,663,79,193,90,85,448,231,182,597,1549,1145
4,Austria,Europe,1064,1436,473,828,173,229,38,152,9,20,129,90,124,337,591,608

In [4]:
af = df.sort_values("Region")

In [5]:
df.sort_values("Region")

,Country,Region,All Fields - Female,All Fields - Male,All S&E - Female,All S&E - Male,Physical & Biological Sciences - Female,Physical & Biological Sciences - Male,Mathematics & Computer Sciences - Female,Mathematics & Computer Sciences - Male,Agricultural Sciences - Female,Agricultural Sciences - Male,Social & Behavioral Sciences - Female,Social & Behavioral Sciences - Male,Engineering - Female,Engineering - Male,Non-S&E - Female,Non-S&E - Male
0,Algeria,Africa,3649,4310,1771,2337,673,458,243,382,89,93,378,575,388,829,1878,1973
51,Uganda (2004),Africa,341,673,114,257,3,19,25,96,19,38,65,88,2,16,227,416
32,Madagascar,Africa,258,307,111,173,59,69,9,17,20,37,17,31,6,19,147,134
34,Mexico,America,1887,2280,842,1157,372,478,15,51,25,64,276,311,154,253,1045,1123
54,United States,America,28397,29008,13411,19238,5667,6943,812,2343,455,527,4662,3428,1815,5997,14986,9770
9,Colombia,America,78,124,43,101,28,48,0,8,4,5,4,16,7,24,35,23
8,Chile,America,192,231,135,183,100,111,3,11,9,11,13,8,10,42,57,48
55,Uruguay,America,23,16,22,14,18,8,0,1,0,0,3,3,1,2,1,2
1,Argentina (2009),America,515,422,371,291,224,142,29,45,10,8,75,61,33,35,144,131
7,Canada,America,2395,3021,1506,2308,674,905,86,263,45,57,463,285,238,798,889,713
27,Kyrgyzstan,Asia,307,252,165,137,34,29,17,14,3,3,80,66,31,25,142,115
33,Malaysia (2009),Asia,255,495,154,325,67,86,23,42,0,0,37,77,27,120,101,170
2,Armenia,Asia,221,393,44,166,25,86,0,0,6,3,7,24,6,53,177,227
35,Mongolia,Asia,75,61,28,32,10,4,0,2,8,5,3,10,7,11,47,29
16,Georgia (2007),Asia,161,444,66,136,43,62,0,0,12,8,4,13,7,53,95,308
44,South Korea,Asia,3370,7172,883,3282,271,639,53,132,60,146,117,241,382,2124,2487,3890
48,Taiwan,Asia,956,2749,428,2081,143,364,45,89,23,72,60,105,157,1451,528,668
49,Thailand,Asia,1716,1273,488,567,245,289,0,0,43,31,136,111,64,136,1228,706
47,Switzerland,Europe,1604,2196,613,1141,342,529,18,136,18,17,136,120,99,339,991,1055
45,Spain,Europe,4088,4608,2079,2595,997,897,154,357,64,106,418,385,446,850,2009,2013
43,Slovenia,Europe,214,251,118,175,75,59,3,18,6,4,20,15,14,79,96,76
42,Slovak Republic,Europe,1407,1471,545,769,192,164,37,76,39,66,102,74,175,389,862,702
40,Romania,Europe,2274,2490,1102,1492,73,60,117,170,189,208,414,331,309,723,1172,998
39,Portugal,Europe,1816,1111,473,526,207,141,52,49,13,21,241,117,201,198,1343,585
38,Norway,Europe,538,664,169,324,0,0,141,291,0,0,26,29,2,4,369,340
52,Ukraine (2011),Europe,4838,4080,2451,2437,462,484,147,213,150,184,1164,509,528,1047,2387,1643
53,United Kingdom,Europe,8485,10265,4445,6610,1800,2385,285,1070,115,100,1710,1060,535,1995,4040,3655
46,Sweden,Europe,1627,1744,754,1182,263,311,60,145,23,19,150,122,258,585,873,562
30,Lithuania,Europe,235,171,137,103,41,25,12,8,7,1,46,19,31,50,98,68
6,Bulgaria,Europe,285,311,138,158,44,31,9,7,11,4,32,28,42,88,147,153
28,Latvia,Europe,79,53,38,35,7,9,2,2,5,2,14,4,10,18,41,18
5,Belgium,Europe,905,1221,447,769,145,222,30,79,20,32,100,87,152,349,458,452
10,Croatia,Europe,428,410,200,221,98,59,8,24,12,17,39,30,43,91,228,189
11,Czech Republic,Europe,870,1358,470,875,242,283,27,109,43,66,65,61,93,356,400,483
12,Denmark,Europe,624,764,251,477,0,0,91,170,0,0,62,72,98,235,373,287
13,Estonia,Europe,92,83,47,59,27,27,2,12,3,1,7,2,8,17,45,24
14,Finland,Europe,937,813,396,528,118,119,24,65,13,11,133,67,108,266,541,285
15,France (2009),Europe,5085,6856,3175,5045,1979,2652,231,768,7,6,582,616,376,1003,1910,1811
17,Germany,Europe,11533,14506,4228,7761,2670,3621,250,1113,170,229,750,672,388,2126,7305,6745
18,Greece,Europe,792,1100,368,672,105,122,39,145,63,82,64,59,97,264,424,428
19,Hungary,Europe,595,680,243,356,141,162,18,75,12,28,37,26,35,65,352,324
20,Iceland,Europe,16,20,10,16,6,10,1,2,1,0,0,0,2,4,6,4
23,Ireland,Europe,584,638,272,400,153,153,20,68,9,10,49,28,41,141,312,238
25,Italy (2007),Europe,5228,4960,2758,3191,1230,1013,160,277,259,252,430,369,679,1280,2470,1769
4,Austria,Europe,1064,1436,473,828,173,229,38,152,9,20,129,90,124,337,591,608
31,Macedonia,Europe,80,77,18,19,5,2,2,3,0,0,8,6,3,8,62,58
29,Lebanon,Middle East,48,76,7,14,2,1,0,0,0,0,5,13,0,0,41,62
21,Iran,Middle East,1531,3257,436,1249,214,322,31,100,48,155,47,178,96,494,1095,2008
22,Iraq (2004),Middle East,1622,3434,351,984,132,153,36,50,28,104,11,27,144,650,1271,2450
36,Morocco,Middle East,2564,3916,1195,1775,669,752,126,277,0,0,257,416,143,330,1369,2141
24,Israel,Middle East,778,756,437,529,259,248,23,103,18,12,102,73,35,93,341,227
50,Turkey,Middle East,2093,2591,1007,1300,321,322,94,115,127,127,192,316,273,420,1086,1291
26,Jordan (2009),Middle East,156,316,25,29,9,4,1,8,0,4,15,8,0,5,131,287
41,Saudi Arabia,Middle East,122,227,28,43,6,10,3,2,0,1,19,23,0,7,94,184
37,New Zealand,Oceania,526,461,247,263,130,118,21,38,4,2,68,35,24,70,279,198
3,Australia,Oceania,2911,2914,1362,1769,563,663,79,193,90,85,448,231,182,597,1549,1145

In [6]:
df["sum"] = df["All Fields - Female"] + df["All Fields - Male"]
df["sumsize"] = (df["sum"] / df["sum"]) * 100
df["Fper"] = (df["All Fields - Female"] / df["sum"]) * 100
df["Fper"].sort_values(ascending=False)

fper = df.sort_values("Fper", ascending=False)
df["Mper"] = (df["All Fields - Male"] / df["sum"]) * 100
mper = df.sort_values("Mper", ascending=False)

In [7]:
df["AllSE"] = df["All S&E - Female"] + df["All S&E - Male"]
df["FSE"] = (df["All S&E - Female"] / df["AllSE"]) * 100
df["MSE"] = (df["All S&E - Male"] / df["AllSE"]) * 100

In [8]:
df["AllP&B"] = df["Physical & Biological Sciences - Female"] + df["Physical & Biological Sciences - Male"]
df["FP&B"] = (df["Physical & Biological Sciences - Female"] / df["AllP&B"]) * 100
df["MP&B"] = (df["Physical & Biological Sciences - Male"] / df["AllP&B"]) * 100

In [9]:
df["AllMath"] = df["Mathematics & Computer Sciences - Female"] + df["Mathematics & Computer Sciences - Male"]
df["FMath"] = (df["Mathematics & Computer Sciences - Female"] / df["AllMath"]) * 100
df["MMath"] = (df["Mathematics & Computer Sciences - Male"] / df["AllMath"]) * 100

In [10]:
df["AllAgric"] = df["Agricultural Sciences - Female"] + df["Agricultural Sciences - Male"]
df["FAgric"] = (df["Agricultural Sciences - Female"] / df["AllAgric"]) * 100
df["MAgric"] = (df["Agricultural Sciences - Male"] / df["AllAgric"]) * 100

In [11]:
df["AllSocial"] = df["Social & Behavioral Sciences - Female"] + df["Social & Behavioral Sciences - Male"]
df["FSocial"] = (df["Social & Behavioral Sciences - Female"] / df["AllSocial"]) * 100
df["MSocial"] = (df["Social & Behavioral Sciences - Male"] / df["AllSocial"]) * 100

In [12]:
df["AllEng"] = df["Engineering - Female"] + df["Engineering - Male"]
df["FEng"] = (df["Engineering - Female"] / df["AllEng"]) * 100
df["MEng"] = (df["Engineering - Male"] / df["AllEng"]) * 100

In [13]:
df["AllNonSE"] = df["Non-S&E - Female"] + df["Non-S&E - Male"]
df["FNonSE"] = (df["Non-S&E - Female"] / df["AllNonSE"]) * 100
df["MNonSE"] = (df["Non-S&E - Male"] / df["AllNonSE"]) * 100

In [14]:
options = ["All PHD" ,"Region"]

In [15]:
@interact(ViewType = (["All Ph.D.s"]) + (["Non-Science Ph.D.s"]) + (["All Science & Engineering"]) + (["Agriculture"]) +(["Engineering"])+(["Math & Computer Science"])+(["Physical & Biological"]) 
          + (["Social & Behavioral"]) , Male =True, Female = True, AllPHD = False, x=widgets.ToggleButtons(options=options))
def f(ViewType, Male, Female, AllPHD, x):
    
    channels =[]
    
    if (ViewType == "All Ph.D.s"):
        fig, ax = plt.subplots(figsize=(20,9))
        if (x == "All PHD"):
            if (Female):
                chart = sns.scatterplot(x="Country", y = df["Fper"], data = fper, size ="All Fields - Female" )
            if (Male):
                chart = sns.scatterplot(x="Country", y = df["Mper"], data = mper, size ="All Fields - Male")
        if (x == "Region"):
            if (Female):
                chart = sns.scatterplot(x="Country", y = df["Fper"], data = df.sort_values("Region"), size ="All Fields - Female")
            if (Male):
                chart = sns.scatterplot(x="Country", y = df["Mper"], data = df.sort_values("Region"), size ="All Fields - Male")
                
    if (ViewType == "All Science & Engineering"):
        fig, ax = plt.subplots(figsize=(20,9))
        if (x == "All PHD"):
            if (Female):
                chart = sns.scatterplot(x="Country", y = df["FSE"] , data = df, size =df["AllSE"])
            if (Male):
                chart = sns.scatterplot(x="Country", y = df["MSE"] , data = df, size =df["AllSE"])
            if (AllPHD):
                chart = sns.scatterplot(x="Country", y = df["Fper"], data = df, alpha = 0.3 )
                chart = sns.scatterplot(x="Country", y = df["Mper"], data = df, alpha = 0.3)
        if (x == "Region"):
            if (Female):
                chart = sns.scatterplot(x="Country", y = df["FSE"] , data = af, palette=["blue"])
            if (Male):
                chart = sns.scatterplot(x="Country", y = df["MSE"] , data = af, palette=["orange"])
            if (AllPHD):
                chart = sns.scatterplot(x="Country", y = df["Fper"], data = af, alpha = 0.3 )
                chart = sns.scatterplot(x="Country", y = df["Mper"], data = af, alpha = 0.3)
        
    if (ViewType == "Physical & Biological"):
        fig, ax = plt.subplots(figsize=(20,9))
        if (x == "All PHD"):
            if (Female):
                chart = sns.scatterplot(x="Country", y = df["FP&B"] , data = df, size =df["AllP&B"])
            if (Male):
                chart = sns.scatterplot(x="Country", y = df["MP&B"] , data = df, size =df["AllP&B"])
        if (x == "Region"):
            if (Female):
                chart = sns.scatterplot(x="Country", y = df["FP&B"] , data = af, palette=["blue"])
            if (Male):
                chart = sns.scatterplot(x="Country", y = df["MP&B"] , data = af, palette=["orange"])
            
    if (ViewType == "Math & Computer Science"):
        fig, ax = plt.subplots(figsize=(20,9))
        if (x == "All PHD"):
            if (Female):
                chart = sns.scatterplot(x="Country", y = df["FMath"] , data = df, size =df["AllMath"])
            if (Male):
                chart = sns.scatterplot(x="Country", y = df["MMath"] , data = df, size =df["AllMath"])
        if (x == "Region"):
            if (Female):
                chart = sns.scatterplot(x="Country", y = df["FMath"] , data = af, palette=["blue"])
            if (Male):
                chart = sns.scatterplot(x="Country", y = df["MMath"] , data = af, palette=["orange"])
            
    if (ViewType == "Agriculture"):
        fig, ax = plt.subplots(figsize=(20,9))
        if (x == "All PHD"):
            if (Female):
                chart = sns.scatterplot(x="Country", y = df["FAgric"] , data = df, size =df["AllAgric"])
            if (Male):
                chart = sns.scatterplot(x="Country", y = df["MAgric"] , data = df, size =df["AllAgric"])
        if (x == "Region"):
            if (Female):
                chart = sns.scatterplot(x="Country", y = df["FAgric"] , data = af, palette=["blue"])
            if (Male):
                chart = sns.scatterplot(x="Country", y = df["MAgric"] , data = af, palette=["orange"])
                
    if (ViewType == "Social & Behavioral"):
        fig, ax = plt.subplots(figsize=(20,9))
        if (x == "All PHD"):
            if (Female):
                chart = sns.scatterplot(x="Country", y = df["FSocial"] , data = df, size =df["AllSocial"])
            if (Male):
                chart = sns.scatterplot(x="Country", y = df["MSocial"] , data = df, size =df["AllSocial"])
        if (x == "Region"):
            if (Female):
                chart = sns.scatterplot(x="Country", y = df["FSocial"] , data = af, palette=["blue"])
            if (Male):
                chart = sns.scatterplot(x="Country", y = df["MSocial"] , data = af, palette=["orange"])
                
    if (ViewType == "Engineering"):
        fig, ax = plt.subplots(figsize=(20,9))
        if (x == "All PHD"):
            if (Female):
                chart = sns.scatterplot(x="Country", y = df["FEng"] , data = df, size =df["AllEng"])
            if (Male):
                chart = sns.scatterplot(x="Country", y = df["MEng"] , data = df, size =df["AllEng"])
        if (x == "Region"):
            if (Female):
                chart = sns.scatterplot(x="Country", y = df["FEng"] , data = af, palette=["blue"])
            if (Male):
                chart = sns.scatterplot(x="Country", y = df["MEng"] , data = af, palette=["orange"])
                
    if (ViewType == "Non-Science Ph.D.s"):
        fig, ax = plt.subplots(figsize=(20,9))
        if (x == "All PHD"):
            if (Female):
                chart = sns.scatterplot(x="Country", y = df["FNonSE"] , data = df, size =df["AllNonSE"])
            if (Male):
                chart = sns.scatterplot(x="Country", y = df["MNonSE"] , data = df, size =df["AllNonSE"])
        if (x == "Region"):
            if (Female):
                chart = sns.scatterplot(x="Country", y = df["FNonSE"] , data = af, palette=["blue"])
            if (Male):
                chart = sns.scatterplot(x="Country", y = df["MNonSE"] , data = af, palette=["orange"])
                
    ##fig, ax = plt.subplots(figsize=(20,9))
    ##chart = sns.swarmplot(x="Country", y = df["Fper"], data = df)
    ##chart = sns.swarmplot(x="Country", y = df["Mper"], data = df)
    
    
    ax.set_ylim((0,100))
    ax.set_yticks([0, 10,20,30,40,50,60,70,80,90,100])
    plt.xlabel('PHD-GRANTING COUNTRY')
    plt.ylabel("PERCENT OF TOTAL")
    plt.title("Global Ph.D.s Gender Gap (2010)")
    ##ax.yaxis.set_major_formatter(mtick.PercentFormatter(xmax=1, decimals=None, symbol='%', is_latex=False))

    plt.xticks(rotation=90)
    ##chart.set_xticklabels(chart.get_xticklabels(), rotation=90, horizontalalignment='right')
    plt.show()

interactive(children=(Dropdown(description='ViewType', options=('All Ph.D.s', 'Non-Science Ph.D.s', 'All Scien…